//============================================//
//
//  Layout.scss
//
//********************************************//
.global-width {
  width: 1140px;
  margin: 0 auto;
  border: 1px solid #ddd;
}
.relative {
  position: relative;
}

//============================================//
//  Flexbox sticky footer
//============================================//

.header,
.footer {

}

.main {

}


//============================================//
//  Header
//============================================//
.header {
  background-color: #ffffff;
  h1 {
    float: left;
    margin-left: 0.16rem;
    margin-top: 0.08rem;
    margin-bottom: 0
  }
  .logo {
    img {
      float: left;
    }
    .company {
      float: left;
      margin-left: 10px;
      text-align: center;
      color: #000;
    }
    .ch-name {
      font-size:26px;
      display: block;
    }
    .eg-name {
      font-size: 12px;
      display: block;
    }
  }
  .nav {
    ul {
      margin-top: 4px;
      margin-bottom: 4px;
    }
    li {
      float: right;
      @extend .list-reset;
      margin: 0.14rem 0.35rem;
      text-align: center;
      border-bottom: .02rem solid transparent;
      a {
        display: block;
        padding: 0.02rem 0;
        font-size: 12px;
      }
      &.active,
      &:hover {
        border-bottom-color: $active-font-color;
        a {
          color: $active-font-color;
        }
      }

    }
  }
  .nav-link {
    display: block;
    text-align: center;
    padding: .08rem .1rem;
    text-decoration: none;
    font-weight: 700;
    font-family: $extra-font-family;
  }
  
}


//============================================//
//  Main
//============================================//
.main {
  min-height: 800px;
}


//============================================//
//  Footer
//============================================//
.footer{
  color: $base-font-color;
  background-color: #ffffff;
  font-size: 10px;
  .title {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
  }
  .qr-code {
    position: absolute;
    right: 0.6rem;
    bottom: 0.2rem;
  }
  .scroll-top{
    display: flex;
    position: fixed;
    bottom: .2rem;
    right: var(--container-padding);
    z-index: z('sticky');
    width: .4rem;
    height: .4rem;
    justify-content: center;
    align-items: center;
    background-color: $black;
    color: $light-white;
    @extend .rounded-circle;
    &:hover{
      background-color: $theme-color;
    }
    .icon-scroll-top{
      height: .14rem;
      width: .14rem;
    }
  }
}


