//============================================//
//
//  Layout.scss
//
//********************************************//
.container,
.container-fluid {
  position: relative;
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

.container {
  @include media(tablet) {
    max-width: 9.6rem;
  }
  @include media(desktop) {
    max-width: 11.4rem;
  }
}


//============================================//
//  Flexbox sticky footer
//============================================//
#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header,
.footer {
  flex-shrink: 0;
}

.main {
  flex: 1 0 auto;
}


//============================================//
//  Header
//============================================//
.header{
  .top-bar{
    position: relative;
    z-index: z('default');
    padding: .12rem 0;
    color: $light-white;
    box-shadow: 0 .03rem .05rem $black;
    background: $lightest-black url(../assets/images/style/pattern.png) repeat 0 0;
    &:before,
    &:after{
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
    }
    &:before{
      top: 0;
      height: .04rem;
      background-color: $primary-blue;
      animation: hue 20s infinite linear;
    }
    &:after{
      bottom: .03rem;
      height: .01rem;
      border-top: .01rem dashed $light-white;
    }
  }
  .top-info{
    font-size: .12rem;
    @extend .list-reset;
    @include clearfix();
    li{
      box-sizing: border-box;
      width: 50%;
      padding: .04rem 0;
      float: left;
      text-align: center;
      @extend %ellipsis;
    }
    .slogan{
      width: 100%;
      font-size: .2rem;
      font-weight: 700;
      font-family: $extra-font-family;
    }
    .icon{
      width: .16rem;
      height: .16rem;
      margin-right: .04rem;
    }
  }
  .follow-me{
    @include clearfix();
    @extend .list-reset;
    li{
      box-sizing: border-box;
      float: right;
      padding-left: .1rem;
      a:hover .icon{
        color: $theme-color;
        transition: $primary-transition;
      }
    }
    .title{
      text-align: right;
      width: 100%;
      margin-bottom: .08rem;
      font-family: $feature-font-family;
    }
    .icon{
      width: .24rem;
      height: .24rem;
      color: $light-white;
    }
    .quote-btn{
      display: inline-block;
      text-decoration: none;
      padding: .06rem .15rem;
      font-size: .12rem;
      color: $light-white;
      font-family: $extra-font-family;
      font-weight: 700;
      border-radius: .13rem;
      background-color: $primary-blue;
      &:hover{
        background-color: $theme-color;
      }
    }
  }
  .logo{
    text-align: center;
    margin: .3rem 0;
    a{
      display: inline-block;
      vertical-align: middle;
      width: 2rem;
      height: 2rem;
    }
    img{
      height: 100%;
      width: 100%;
    }
  }
  .nav-toggle{
    position: relative;
    z-index: z('over-default');
    text-align: center;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 100%;
      right: 0;
      z-index: z('zero');
      background-color: $theme-color;
      transition: left 600ms ease-out;
    }
    .text{
      position: relative;
      font-weight: 600;
      color: $light-white;
      opacity: 0;
      display: inline-block;
      line-height: .34rem;
    }
    .hamburger{
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      z-index: z('default');
      padding: .04rem .08rem;
      background-color: $theme-color;
      overflow: hidden;
      & > span{
        display: block;
        text-indent: -999em;
        height: .02rem;
        width: .2rem;
        background-color: $primary-gray;
        margin: .05rem 0;
      }
    }
    &.active{
      &:before{
        left: 0;
      }
      .text{
        opacity: 1;
        animation: zoomIn 1s ease-in-out;
      }
      .hamburger span{
        transition: all 400ms ease-out;
        background-color: $white;
        &:first-child{
          transform: rotate(45deg) translateX(5px) translateY(5px);
        }
        &:nth-child(2){
          opacity: 0;
        }
        &:last-child{
          transform: rotate(-45deg) translateX(5px) translateY(-5px);
        }
      }
    }
  }
  .nav{
    display: none;
    position: absolute;
    top: inherit;
    left: var(--container-padding);
    right: var(--container-padding);
    z-index: z('dropdown');
    padding: .15rem 0;
    background: $primary-gray url(../assets/images/style/pattern.png) repeat 0 0;
    @extend .list-reset;
  }
  .nav-link{
    display: block;
    text-align: center;
    padding: .08rem .1rem;
    text-decoration: none;
    font-weight: 700;
    font-family: $extra-font-family;
  }
  @include media(tablet){
    .top-info{
      li{
        width: inherit;
        margin-right: .2rem;
        text-align: left;
      }
    }
    nav{
      padding-top: .05rem;
      padding-bottom: .05rem;
    }
    .nav-wrap{
      position: relative;
      border-top: .01rem dashed $primary-gray;
      border-bottom: .01rem dashed $primary-gray;
      &:before,
      &:after{
        content: "";
        display: block;
        position: absolute;
        left: -.05rem;
        right: -.05rem;
        height: .01rem;
        background-color: $primary-gray;
        flex-basis: 0;
      }
      &:before{
        top: -.05rem;
      }
      &:after{
        bottom: -.05rem;
      }
    }
    .nav{
      display: flex !important;
      position: relative;
      right: inherit;
      left: inherit;
      padding: .1rem 0;
      justify-content: space-between;
      background-image: none;
      background-color: transparent;
    }
    .nav-link{
      position: relative;
      &:before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: z('below');
        opacity: 0;
        border-radius: .06rem;
        background-color: $theme-color;
        transform: scale3d(0,1,1);
        transition: transform 0.3s linear;
      }
      &.active,
      &:hover{
        color: $light-white;
        &:before{
          opacity: 1;
          transform: scale3d(1,1,1);
        }
      }
    }
  }
}


//============================================//
//  Main
//============================================//
.main{
  padding: .2rem 0;
  min-height: 800px;
  background: url(../assets/images/style/bar-bottom.png) repeat-x bottom left;
}


//============================================//
//  Footer
//============================================//
.footer{
  color: $light-white;
  letter-spacing: .01rem;
  background-color: $light-black;
  .region-area{
    padding: .6rem 0;
    border-bottom: .02rem dotted $lightest-black;
    background: $lighter-black url(../assets/images/style/pattern.png) repeat 0 0;
    .title{
      font-size: .13rem;
      font-weight: 400;
      letter-spacing: .01rem;
      line-height: 1;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: .2rem;
    }
  }
  .sitemap-nav{
    @extend .list-reset;
    @include clearfix();
    margin: 0 -.02rem 0 .01rem;
    li{
      display: block;
      position: relative;
      float: left;
      width: 50%;
      margin: -.01rem 0 0 -.01rem;
      box-sizing: border-box;
      a{
        display: block;
        text-decoration: none;
        text-align: center;
        color: $light-white;
        border: .01rem solid $lightest-black;
        line-height: .45rem;
        padding: 0 .15rem;
        font-size: .11rem;
        letter-spacing: .01rem;
        @extend %ellipsis;
      }
    }
    .icon-arrow-right{
      position: absolute;
      right: .08rem;
      height: .12rem;
      width: .12rem;
      color: $gray;
      top: 50%;
      margin-top: -.06rem;
      z-index: z('default');
      transition: $primary-transition;
    }
  }
  .group{
    margin-top: .4rem;
  }
  .group-cover{
    display: block;
    position: relative;
    height: 1rem;
    background-color: $gray;
    overflow: hidden;
    .share{
      display: flex;
      position: absolute;
      top: 50%;
      left: 50%;
      width: .5rem;
      height: .5rem;
      z-index: z('default');
      background-color: $theme-color;
      @extend .rounded-circle;
      color: $light-white;
      margin: -.25rem 0 0 -.25rem;
      justify-content: center;
      align-items: center;
      transform: scale(0);
      transition: $primary-transition;
      .icon-share{
        height: .2rem;
        width: .2rem;
      }
    }
    .text{
      position: absolute;
      left: .1rem;
      bottom: .12rem;
      z-index: z('default');
      padding: .05rem .1rem;
      background-color: $primary-blue;
      color: $light-white;
      font-family: $extra-font-family;
      font-weight: 300;
      font-size: .12rem;
      transition: all 0.5s ease;
    }
    & > img{
      height: 100%;
      width: 100%;
      transition: all 0.5s ease;
    }
    &:hover{
      .share{
        transform: scale(1);
      }
      .text{
        background-color: $theme-color;
      }
    }
  }
  .copyright{
    padding: .2rem 0;
    text-align: center;
    font-size: .12rem;
  }
  .social-links{
    @extend .list-reset;
    margin: .1rem 0 .2rem;
    text-align: center;
    & > li{
      display: inline-block;
      margin: 0 .1rem;
    }
  }
  .social-item{
    display: block;
    .icon{
      width: .24rem;
      color: $light-white;
    }
  }
  .brand{
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .02rem;
    margin-top: 0;
  }
  .designer{
    & > span{
      display: block;
      color: $primary-yellow;
      font-family: $feature-font-family;
    }
    & > a{
      display: inline-block;
      line-height: .24rem;
      margin: .06rem 0;
      color: $light-white;
      text-decoration: none;
      font-family: $zh-cn-font;
      border-bottom: .01rem dashed $gray;
    }
    .icon{
      width: .24rem;
      height: .24rem;
      color: $theme-color;
      vertical-align: text-bottom;
      margin-right: .03rem;
    }
  }
  .copy{
    margin: .1rem 0 0;
  }
  .scroll-top{
    display: flex;
    position: fixed;
    bottom: .2rem;
    right: var(--container-padding);
    z-index: z('sticky');
    width: .4rem;
    height: .4rem;
    justify-content: center;
    align-items: center;
    background-color: $black;
    color: $light-white;
    @extend .rounded-circle;
    &:hover{
      background-color: $theme-color;
    }
    .icon-scroll-top{
      height: .14rem;
      width: .14rem;
    }
  }
  @include media(tablet){
    .region-area{
      padding: .8rem 0;
      .title{
        text-align: left;
      }
    }
    .sitemap-nav{
      margin: -.15rem 0 0;
      li{
        margin: .05rem 6% 0 0;
        width: 47%;
        &:nth-child(2n){
          margin-right: 0;
        }
        &:hover{
          a{
            padding: 0 0 0 .1rem;
            background-color: $theme-color;
          }
          .icon-arrow-right{
            right: .05rem;
            color: $light-white;
          }
        }
        a{
          padding: 0;
          text-align: left;
          line-height: .35rem;
          border: none;
          border-bottom: #999 1px dashed;
        }
      }
      .icon-arrow-right{
        right: .1rem;
      }
    }
    .copyright{
      padding: .35rem 0 .25rem;
    }
    .group{
      margin-top: 0;
    }
    .group-cover{
      height: 1.1rem;
      &:hover > img{
        transform: scale(1.1);
      }
    }
    .social-links{
      margin-top: 0;
    }
    .social-item{
      &:hover .icon{
        color: $theme-color;
        transition: $primary-transition;
      }
      .icon{
        width: .3rem;
      }
    }
    .brand{
      margin-bottom: 0;
    }
    .designer{
      position: absolute;
      z-index: z('default');
      left: var(--container-padding);
      top: -.05rem;
      text-align: left;
    }
    .copy{
      margin-top: .04rem;
    }
    .scroll-top{
      width: .5rem;
      height: .5rem;
      .icon-scroll-top{
        height: .18rem;
        width: .18rem;
      }
    }
  }
  @include media(desktop){
    .group-cover{
      height: 1.58rem;
    }
    .scroll-top{
      width: .6rem;
      height: .6rem;
    }
  }
}


