//============================================//
//
// Grid.scss (Flexbox grid)
//
//********************************************//
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0 var(--row-margin);
  &.reverse {
    flex-direction: row-reverse;
  }
}

[class*="col-"] {
  box-sizing: border-box;
  padding: 0 var(--columns-margin);
  flex: 0 0 calc((100% / var(--columns)) * var(--column-width));
  @include flex-col(m);
  @include media(tablet) {
    @include flex-col(t);
  }
  @include media(desktop) {
    @include flex-col(d);
  }
}

// Align and Order
@include flex-algin-order(m);

@include media(tablet) {
  @include flex-algin-order(t);
}

@include media(desktop) {
  @include flex-algin-order(d);
}
