.aboutactive {
	margin-top: 20px;
	margin-bottom: 20px;
	.article{
	 	position: relative;
	 	padding: 20px 20px 56px;
	 	background-color: #fff;
	 	margin-bottom:.2rem;
	}
	.date {
		display: block;
		position: absolute;
		width: 52px;
		height: 52px;
	    background: $active-font-color;
	    left: -56px;
	    top: 0;
	    padding:2px 2px;
	    span {
	    	display: block;
	    	color: #fff;
	    	line-height: 18px;
	    	font-size: 12px;
	    	margin-top: 4px;
	    }
	}
	h3 {
		margin-bottom: 0;
		font-size: 14px;
	}
	time {
		font-size: 10px;
	}
	.img-wrap{
	    img {
	    	width: initial;
	    }
	}

	.para {
		line-height: 22px;
	}
	.poem {
	+ .poem {
		margin-top: 28px;
	  }
	}
	
	.readMore {
		display: block;
		margin-top: 20px;
		text-align: center;
		color: $active-font-color;
		font-size: 12px;
		font-weight: bold;
	}
}
.businesscard {
	padding: 20px 20px 56px;
	margin-top: 20px;
	margin-bottom: 20px;
	background: #fff;
	.img-wrap{
    img {
    width: initial;
    }
	}
}
.limited-height {
	  max-height: 22px;
    overflow: hidden;
	}