.aboutactive {
	margin-top: 20px;
	margin-bottom: 20px;
	.article{
	 	position: relative;
	 	padding: 20px 20px 56px;
	 	background-color: #fff;
	 	margin-bottom:.2rem;
	 	.content {
	 		padding: 0 20px;
	 	}
	}
	.date {
		display: block;
		position: absolute;
		width: 80px;
		height: 80px;
	    background: #ccc;
	    left: -85px;
	    top: 0;
	    padding:2px 2px;
	    span {
	    	display: block;
	    	color: #fff;
	    	line-height: 13px;
	    	font-size: 18px;
	    	margin-top: 16px;
	    }
	}
	h3 {
		margin-bottom: 10px;
		color: #1787fe;
		font-size: 18px;
	}
	time {
		font-size: 14px;
		margin-bottom: 27px;
    display: block;
	}
	.para {
		line-height: 32px;
		text-indent: 31px;
	}
	.poem {
		p {
			margin-top: 22px;
			margin-bottom: 22px;
			font-size: 16px;
		}
	+ .poem {
		margin-top: 28px;
	  }
	}
	
	.readMore {
		display: block;
		margin-top: 20px;
		text-align: center;
		color: $active-font-color;
		font-size: 16px;
		font-weight: bold;
	}
}
.article {
	.img-wrap  {
	 .picture {
	   display: inline-block;
     height: 424px;
	  }
	  img {
	  height: 100%;
	  }
	}
}
.businesscard {
	padding: 20px 20px 56px;
	margin-top: 20px;
	margin-bottom: 20px;
	background: #fff;
	.img-wrap{
     img {
        width: initial;
      }
	}
}
.limited-height {
	  max-height: 22px;
    overflow: hidden;
	}