.widget-slider{
	.inner{
		position: relative;
	}
	 &:hover {
       .swiper-button-prev,
	   .swiper-button-next {
	      display: block;
	   }
      }
	.swiper-container{

	}
	.swiper-slide{
		//height: 3.50rem;
		width: 100% !important;
		a{
			display: block;
			height: 100%;
		}
		img{
			height: 100%;
			width: 100%;
		}
	}
	.global-width {
		// position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.swiper-button-prev,
	.swiper-button-next {
		position: absolute;
		width: .5rem;
		height: .5rem;
		display: none;
	}
	.swiper-button-prev {
		left: 11%;
		background: url(../assets/uploads/slider/2.png) no-repeat center;
		&:hover  {
		  background: url(../assets/uploads/slider/4.png) no-repeat center;
		}
	}
	.swiper-button-next {
		right: 11%;
		background: url(../assets/uploads/slider/1.png) no-repeat center;
	    &:hover  {
		  background: url(../assets/uploads/slider/3.png) no-repeat center;
		}
	}
	// .swiper-button-prev,
	// .swiper-button-next{
	//     display: none;
	// 	position: absolute;
	// 	top: 36%;
	// 	margin-top: 0;
	// 	width: .5rem;
	// 	height: .5rem;
	// 	background-image: none;
	// 	transition: $primary-transition;
    //     background-color: #F1F5FB;
    //     opacity: 0.2;
	// 	@extend .rounded-circle;
	// 	&:hover{
	// 		 &:before,
	// 		 &:after {
	// 		 	border-color: #179BFF;
	// 		 	opacity: 1;
	// 		 }
	// 	}
	// 	.icon{
	// 		color: $light-white;
	// 		width: .14rem;
	// 		height: .14rem;
	// 	}
	// }
	// .swiper-button-prev {
    // left: 12.9%;
    // &:before {
    // 	content: '';
    // 	position: absolute;
    // 	display: block;
    // 	width: 10px;
    // 	height: 10px;
    // 	top: 50%;
    // 	left: 50%;
    // 	margin-left: -5px;
    // 	margin-top: -5px;
    // 	border-top: solid 2px #fff;
    // 	border-right: solid 2px #fff;
    // 	transform:rotate(-135deg);
    // 	opacity: 1;
    // }
	// }
	// .swiper-button-next{
	// 	right: 12.7%;
	// 	&:before {
    // 	content: '';
    // 	position: absolute;
    // 	display: block;
    // 	width: 10px;
    // 	height: 10px;
    // 	top: 50%;
    // 	right: 50%;
    // 	margin-right: -5px;
    // 	margin-top: -5px;
    // 	border-top: solid 2px #fff;
    // 	border-right: solid 2px #fff;
    // 	transform:rotate(45deg);
    //   }
	// }
	.swiper-pagination {
	  display: none;
	}
	.swiper-pagination-bullet{
		background-color: $light-white;
		opacity: 1;
		
	}
	.swiper-pagination-bullet-active{
		background-color: $primary-blue;
	}
	.swiper-container-horizontal {
		> .swiper-pagination-bullets,
		  .swiper-pagination-custom,
		  .swiper-pagination-fraction {
		  	bottom: 30px;
		}
	}
}